.backstory {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  max-width: 100%;
  flex-wrap: wrap;
}
.backStoryText {
  flex: 0 1 50%; /* Flex Size of BackStory Texts */
  border: 3px solid red;
  padding-right: 20px;
}
.backStoryTitle {
  font-size: 64px;
  color: #f4ce14;
}
.backStoryCity {
  font-size: 40px;
  color: black;
}
.backStoryNarrative {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* ---------- BackStory 2 Photos ---------- */
.backStoryPhotoContainer {
  flex: 1;
  position: relative;
  padding: 120px 0 20px;
  border: 3px solid blue;
}
.photoOne img,
.photoTwo img {
  display: block;
  width: 276px;
  height: 338px;
  object-fit: cover;
  position: relative;
}
.photoTwo img {
  left: calc(276px * 0.3 * 2);
  top: calc(338px * 0.1);
  position: absolute;
}
