/* .header {
  background-color: #a4c991;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.header {
  display: flex;
  align-items: center; /* Vertically center the content */
  column-gap: 50px;
  justify-content: center;
  /* Distribute space between image and links */
  padding: 10px 20px; /* Add padding for spacing */
  background-color: white; /* Set your desired background color */
}

.header img {
  max-height: 100px; /* Adjust the image size as needed */
  /* margin-right: 0px; */
  /* Add spacing between image and links */
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Add spacing between links */
  /* margin: 0; */
  /* Remove default margin */
}

.header nav a {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  /* border: 1px solid black;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  background-color: #f4ce14; */
}

/* Green - #49SE57
Yellow - #F4CE14
Orange - EE9972
Sand - FBDABB
Silver/Grey - EDEFEE
Dark Grey - 333333
*/
