.header {
  display: flex;
  align-items: center; /* Vertically center the content */
  column-gap: 50px;
  justify-content: center; /* Distribute space between image and links */
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  flex-wrap: wrap;
  border: 3px solid black;
}

.header img {
  max-width: 200px;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Add spacing between links */
  flex-wrap: wrap;
  justify-content: center;
}

.header nav a {
  /* 20px = font-size: 1.3rem; */
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  /* border: 1px solid black;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  background-color: #f4ce14; */
}
